.report-page {
  background-color: #000;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #fff;
    span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
    }
  }
  fieldset {
      height: auto;
      width: 100%;
      border: none;
      input, select {
        width: 100%;
        height: 30px;
        margin: 0.5rem 0;
        font-size: 1.2rem;
      }
      textarea {
        width: 100%;
        height: 300px;
        font-size: 1.2rem;
      }
      
    }
    button {
      background-color: #000;
      box-shadow: none;
      outline: none;
      border: none;
      color: #fff;
      height: 100%;
      width: 500px;
      cursor: pointer;
      font-size: 1.7rem;
      height: 200px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      height: 70vh;
    }
    .custom-select {
      select {
        background: #000;
        color: #fff;
        border: none;
        border-bottom: 2px solid #fff;
        font-size: 1.2rem;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
      }

    }

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E53436;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E53436;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E53436;
}
:-moz-placeholder { /* Firefox 18- */
  color: #E53436;
}