<div class="register-page">
  <h1 class="page-heading">Register</h1>
  <form action class="mars-form" name="registerForm" #arrivalForm="ngForm" (ngSubmit)="postColonist()">
    <fieldset>
      <input type="text" placeholder="Name" name="name" required>
      <input type="number" placeholder="Age" name="age" required>
      <div class="custom-select">
        <select name="job_id">
          <option class="placeholder" value="{{NO_OCCUPATION_SELECTED}}">Select Occupation</option>
          <option *ngFor="let item of occupations" value="{{ item.id }}">{{ item.name }}</option>

        </select>
      </div>
    </fieldset>
    <fieldset>
      <button class="button" type="submit" [disabled]="noOccupation || !arrivalForm.form.valid" >Check in</button>
    </fieldset>
  </form>
</div>
